<h1>MEAL PLAN</h1>
<h2><%=@meal_plan.meal_plan[0]%></h2>
<h2><%=@meal_plan.meal_plan[1]%></h2>
<h2><%=@meal_plan.meal_plan[2]%></h2>
<h2><%=@meal_plan.meal_plan[3]%></h2>
<h2><%=@meal_plan.meal_plan[4]%></h2>
<h2><%=@meal_plan.meal_plan[5]%></h2>
<h2><%=@meal_plan.meal_plan[6]%></h2>
<h2><%=@meal_plan.meal_plan[7]%></h2>

<h2><a href='/new_meal_plan'>Generate New Meal Plan</a></h2>